.bg-gray{
    background-color: #efefef;
}
.title{
    width: 65%;
}
.done{
    padding: 3em;
    text-align: center;
    img{
        width: 100px;
        height: 100px;
        margin-bottom: 1em;
    }
}